<h1>Novo Chamado</h1>

<mat-card class="card-container">
    <h4>Dados do novo chamado</h4>
    <div class="form-container">
        <mat-form-field cappearance="fill">
            <mat-label>Título do Chamado</mat-label>
            <input
            [(ngModel)]="chamado.titulo"
            [formControl]="titulo"
            required
            matInput
            placeholder="Ex: Reparo do Notebook">
        </mat-form-field>

        <div class="status-prioridade">
            <mat-form-field>
                <mat-label>Prioridade</mat-label>
                <mat-select [(ngModel)]="chamado.prioridade" [formControl]="prioridade" required>
                  <mat-option value="0">Baixa</mat-option>
                  <mat-option value="1">Média</mat-option>
                  <mat-option value="2">Alta</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Status</mat-label>
                <mat-select [(ngModel)]="chamado.status" [formControl]="status" required>
                  <mat-option value="0">Aberta</mat-option>
                  <mat-option value="1">Em Andamento</mat-option>
                  <mat-option value="2">Fechada</mat-option>
                </mat-select>
              </mat-form-field>
        </div>

        <div class="tecnico">
            <mat-form-field>
                <mat-label>Técnico</mat-label>
                <mat-select [(ngModel)]="chamado.tecnico" [formControl]="tecnico" required>
                  <mat-option *ngFor="let tecnico of tecnicos" value="{{ tecnico.id }}">{{ tecnico.nome }}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>

        <div class="cliente">
            <mat-form-field>
                <mat-label>Cliente</mat-label>
                <mat-select [(ngModel)]="chamado.cliente" [formControl]="cliente" required>
                  <mat-option *ngFor="let cliente of clientes" value="{{cliente.id }}">{{ cliente.nome }}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>

        <mat-form-field>
            <mat-label>Observações do chamado</mat-label>
            <textarea class="descricao" [(ngModel)]="chamado.observacoes" matInput [formControl]="observacoes" required></textarea>
        </mat-form-field>

        <div class="btn-container">
            <div class="btn" id="btn-salvar">
                <button (click)="create()" mat-raised-button>Salvar</button>
            </div>
            <div class="btn" id="btn-cancelar" routerLink="../">
                <button mat-raised-button>Cancelar</button>
            </div>
        </div>
    </div>
</mat-card>