.card-container{
    min-height: 560px;
    height: 90%;
}

mat-card-header{
    justify-content: center;
    text-align: center;
}

mat-card-title {
    font-size: 1.7rem;
}


p {
    font-size: .8rem;
    margin-bottom: .2rem;
}

a:visited {
  color: #000;
}

a:hover {
  color: #084c6e;
}

img {
    height: 50vh;
    margin-bottom: 2rem;
}

