<mat-card class="card-container">
    <mat-card-header>
      <mat-card-title>HelpDesk</mat-card-title>
      <mat-card-subtitle>Felipe S Bezerra</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/img/connected-animate.svg" alt="imagem do menu iniciar">
    <mat-card-content>
      <p>
        Olá! Seja bem-vindo ao sistema HelpDesk desenvolvido por mim no curso Desenvolvedor Full Stack.
      </p>
      <p>
        Esse é um sistema para gerenciamento de chamados simulando um simples HelpDesk desenvolvido em Angular 16 e Spring Boot 3.
      </p>
      <p>
        O sistema está rodando na nuvem, sendo o front na ----- e o back na ----.
      </p>
      <p>
        O projeto tem como objetivo principal abordar os conceitos de aplicação SPAs, Autenticação e Autorização com Tokens JWT e muito mais. O código fonte pode ser acessado clicando
        <a href="https://github.com/FelipeSBezerra/helpdesk-frontend" target="_blank"><strong>aqui</strong></a>.
      </p>
      <p>
        <br>
        Fique à vontade para testar o sistema e deixar sua sugestão.<br>
        Att: Felipe S Bezerra.
      </p>
    </mat-card-content>
  </mat-card>
