<div class="container">
  <form class="form mat-elevation-z6">
    <h1>HelpDesk</h1>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="Digite seu email">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Senha</mat-label>
      <input type="password" matInput placeholder="Digite sua senha">
    </mat-form-field>
    <div class="btn">
      <button mat-raised-button class="full-width">Login</button>
    </div>
  </form>
</div>
