h4 {
    margin-top: 1.5rem;
    text-align: center;
}

.card-container {
    margin-top: 2rem;
    height: 75vh;
    min-height: 570px;
}

.section {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: space-between;
    text-align: center;
}

.tipo {
    margin-bottom: 1rem;
}

mat-form-field {
    width: 80%;
    margin-left: 10%;
}

mat-checkbox label:disabled{
    color: black;
}

.btn-container {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
}

.btn .mat-mdc-button-base {
    width: 6rem;
    margin-right: 1rem;
    border-radius: .5rem;
    color: #FFF;
}

#btn-salvar .mat-mdc-button-base {
    background-color: #084c6e;
}

#btn-cancelar .mat-mdc-button-base {
    background-color: #d8201a;
}